<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= title.key %></title>
</head>
<body>
    <h1><%= title.key %></h1>
    <p>ejs welcome to <%= title.key %></p>
</body>
</html>